body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.big {
    background-color: #edf0f5;
    display: flex;
    flex-direction: column;
    padding-top: 68px;
}

.container {
    margin: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box {
    width: 30vw;
    border-radius: 5px;
    background-color: white;
    padding: 2% 0;
    margin-left: 40px;
}

.rightcont {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.leftcont {
    width: 50%;
}

input[type=text],
input[type=password] {
    display: inline-block;
    padding: 12px 12px;
    margin: 8px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    width: 80%;
}

input[type=text]:focus,
input[type=password]:focus {
    outline: none;
    box-shadow: 0 0 0 2px #e7f3ff;
    border-color: #1877f2;
    caret-color: #1877f2;
}

form {
    text-align: center;
}

.login {
    padding: 0px 12px;
    margin: 8px;
    width: 90%;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color: #1877f2;
    color: white;
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
    justify-content: center;
}

.divider {
    margin: 8px;
    border-bottom: 1px solid #dadde1;
}

.create {
    padding: 6px 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color: #42b72a;
    color: white;
    font-size: 13px;
    line-height: 24px;
    font-weight: bold;
    justify-content: center;
}

.forget {
    margin: 8px;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    color: #1877f2;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.pg {
    font-weight: bold;
    text-decoration: none;
    color: black;
    text-align: center;
}

.cpg {
    font-size: 12px;
    text-align: center;
    padding-left: 10px;
}

.pgdiv {
    width: 30vw;
    margin-left: 40px;
}

img {
    height: 18vh;
    margin-top: 5%;
    margin-left: 10%;
}

.fconnect {
    margin-top: -5px;
    margin-left: 15%;
    font-size: 2vw;
    width: 80%;
}

.pagefooter {
    color: #737373;
    width: 78%;
    font-size: 0.9vw;
    margin: 0 auto;
    margin-left: 7%;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

.pagefooter>ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
}

.pagefooter>ul>li {
    width: auto;
    margin: auto;
    list-style-type: none;
}

.pagefooter>ul>li>a {
    text-decoration: none;
    color: #737373;
    font-size: 0.9vw;
    font-family: Arial, Helvetica, sans-serif;
}

.firstlist {
    width: 70%;
    padding-top: 2%;
    justify-content: space-between;
}

.secondlist>li {
    padding-right: 2%;
    padding-bottom: 0.5%;
}

.secondlist {
    margin-left: 1%;
}

.secondlist>:last-child {
    margin-left: 0%;
}

.footer_divider {
    border-bottom: 1px solid #dadde1;
    width: 95%;
    margin-left: 5%;
}

.copyright {
    margin-left: 6%;
}

@media only screen and (max-width: 1075px) {
    .container {
        flex-direction: column;
    }
    .big {
        padding: 0;
    }
    .container {
        margin-left: auto;
        margin-top: 0;
    }
    .box {
        width: 40vw;
        margin-left: auto;
    }
    img {
        height: 15vh;
        margin: 0;
    }
    .fconnect {
        margin-left: 10%;
        font-size: 2vw;
        width: 100%;
    }
    .pgdiv {
        width: 40vw;
        margin-left: 0px;
    }
    .pagefooter {
        width: 90%;
        font-size: 1.5vw;
    }
    .pagefooter>ul>li>a {
        font-size: 1.5vw;
    }
    .firstlist {
        width: 90%;
    }
    .copyright {
        margin-left: 8%;
    }
}